
<ag-grid-angular 
  key="id"
	style="width: 100%; height: 370px;" 
	class="ag-theme-balham"
	[rowData]="rowData" 
  rowSelection = "multiple"
  (gridReady)="onGridReady($event)"
	[columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [pagination]="true"
  [paginationPageSize]="10" 
  [animateRows]="true"
  >
</ag-grid-angular>
<!-- <button mat-raised-button color="primary" (click)="showCol()">Show Column</button>
<button mat-raised-button color="accent" (click)="hideCol()">Hide Column</button> -->
<button  (click)="getSelectedRows()">Selected Rows</button>

